<!DOCTYPE html>
<!-- this is the base template, and anything valid for html will be valid for ejs -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>